[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "admixr"]
	path = admixr
	url = https://github.com/bodkan/admixr
[submodule "slendr"]
	path = slendr
	url = https://github.com/bodkan/slendr
